{% extends "base.html" %}

{% block footer %}
  <hr>
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-copyright">
        <div class="md-footer-copyright__highlight">
          <strong>Partner & Netzwerke:</strong>
          <nav style="display: flex; gap: 20px; flex-wrap: wrap; margin-top: 10px;">
            {% for partner in config.extra.partners %}
              <a href="{{ partner.href }}" title="{{ partner.title }}" target="_blank" rel="noopener" style="font-weight: bold;">
                {{ partner.name }}
              </a>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>

  {{ super() }}
{% endblock %}
