<footer class="md-footer">
  {% if "navigation.footer" in features %}
    {% include "partials/footer-nav.html" %}
  {% endif %}

  {% if config.extra.partners %}
    <hr>
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner">
        <nav class="partner-nav">
          {% for partner in config.extra.partners %}
            <a href="{{ partner.href }}" title="{{ partner.title }}" target="_blank" rel="noopener">
              {{ partner.name }}
            </a>
          {% endfor %}
        </nav>
      </div>
    </div>
  {% endif %}

  {% include "partials/footer-meta.html" %}
</footer>
