{% extends "partials/footer.html" %}

{% block footer_nav %}
  {{ super() }}

  {% if config.extra.partners %}
    <hr>
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner">
        <div class="md-footer-social" style="padding-bottom: 1em;">
          <strong style="display: block; margin-bottom: 0.5em;">Unsere Partner:</strong>
          <div class="partner-links" style="display: flex; flex-wrap: wrap; gap: 20px;">
            {% for partner in config.extra.partners %}
              <a href="{{ partner.href }}" title="{{ partner.title }}" target="_blank" rel="noopener">
                {{ partner.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
