.md-footer-copyright__highlight a {
  color: var(--md-typeset-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.md-footer-copyright__highlight a:hover {
  color: var(--md-accent-fg-color);
}
